* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto:300,400');

@mixin font($font, $size, $weight, $color) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color; 
}

.header {
    z-index: 2;
    position: absolute;
    width: 100%;
}

.logo {
    &__items {
        @include font('Raleway', 34px, 400, #fff);
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.smart-menu { 
    display: none; 
} 
    
.iconMenu { 
    position: absolute; 
    top: 18px; 
    right: 59px; 
    cursor: pointer; 
    display: none; 
}

.nav {
    &__items {
        @include font('Montserrat', 14px, 300, #fff);
        text-transform: capitalize;
        margin-right: 23px;
        &:hover {
            text-decoration: none;
            color: #c7b299;
        }
    }
}

.slider {
    .carousel-item.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-fluid {
        padding: 0;
    }
    span.carousel-control-prev-icon {
        background-image: url(../images/ArowsLeft.png);
        width: 40px;
        height: 73px;
    }
    
    span.carousel-control-next-icon {
        background-image: url(../images/ArowsRight.png);
        width: 40px;
        height: 73px;
    }
    .carousel-indicators {
        align-items: center;
        z-index: 1;
    }
    ol.carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #98989a;
        margin: 0 5px;
    }
    ol.carousel-indicators .active {
        background-color: transparent;
        height: 16px;
        width: 16px;
        border: 2px solid #d3c1ad;
    }
    .carousel-caption.d-md-block {
        bottom: auto;
        left: auto;
        right: auto;
    }
    // .sliderHeadLine {
    //     @include font('Raleway', 36px, 500, #fff);
    // }
    
    // .sliderSubtitle1 {
    //     @include font('Raleway', 52px, 800, #fff);
    // }
    
    // .sliderSubtitle2 {
    //     @include font('Montserrat', 16px, 300, #fff);
    // }

.sliderCaption {
    .sliderHeadLine {
        @include font('Raleway', 2.25em, 500, #fff);
        }
        .sliderSubtitle1 {
        @include font('Raleway', 3.25em, 800, #fff);
        }
        .sliderSubtitle2 {
        @include font('Montserrat', 1em, 300, #fff);
        }
}
    
.sliderButton {
    padding-top: 52px;
    }
    
.sliderButtonStarted {
    @include font('Raleway', 14px, 800, #fff);
    border-bottom: 3px solid #736357;
    border-top: 1px solid #998675;
    border-left: 1px solid #998675;
    border-right: 1px solid #998675;
    background-color: #998675;
    border-radius: 5px;
    padding: 21px 40px 18px 38px;
    }
}

.rowService {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 81px;
}

.serviceIcon {
    text-align: center;
}

.serviceWeb {
    @include font('Raleway', 22px, 600, #555555);
    text-align: center;
    padding-top: 30px;
}

.serviceText {
    @include font('Montserrat', 14px, 300, #c2c2c2);
    text-align: center;
    padding-top: 20px;
}

.serviceLine {
    text-align: center;
    padding-bottom: 80px;
}

.serviceBlock:hover {
    .serviceWeb {
        color: #c7b299;
        cursor: pointer;
    }
    .serviceLineSvg {
        fill: rgb(199, 178, 153);
        cursor: pointer;
    }
    .serviceIconSvg {
        fill: rgb(199, 178, 153);
        cursor: pointer;
    }
}

.waxom {
    background-color: #fbfaf8;
}

.waxomHeadLine {
    display: flex;
    justify-content: center;
    @include font('Raleway', 30px, 600, #555555);
    background-color: #fbfaf8;
    padding-top: 83px;
}

.waxomSubtitle {
    @include font('Montserrat', 16px, 300, #8c8c8c);
    text-align: center;
    background-color: #fbfaf8;
}

.waxomImg {
    padding-top: 40px;
}

.textBoxes {
    background-color: #2f231d;
}

.textBoxesHeadLine {
    @include font('Raleway', 28px, 400, #fff);
    padding-top: 48px;
}

.textBoxesSubtitle {
    @include font('Montserrat', 18px, 300, #615855);
    padding-bottom: 49px;
}

.sliderButton {
    padding-top: 50px;
}

.textBoxesButtonSterted {
    @include font('Raleway', 14px, 800, #fff);
    border-bottom: 3px solid #736357;
    border-top: 1px solid #998675;
    border-left: 1px solid #998675;
    border-right: 1px solid #998675;
    background-color: #998675;
    border-radius: 5px;
    padding: 19px 29px 17px 28px;
}

.titleTextHeadLine {
    @include font('Raleway', 30px, 600, #555555);
    padding-top: 82px;
}

.titleSubtitle {
    @include font('Montserrat', 16px, 300, #8c8c8c);
    padding-top: 30px;
    text-align: center;
}

.titleButton {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.btn-primary {
    @include font('Montserrat', 14px, 300, #8c8c8c);
    background-color: #fff;
    border-color: #ebebeb;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: #998675;
    border-color: #998675;
}

.btn {
    padding: 0.375rem 1.75rem;
}

.projectHeadLine {
    @include font('Raleway', 20px, 500, #c7b299);
    padding-top: 30px;
    padding-left: 29px;
    position: relative;
}

.arrowBotGreen {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 108px;
    display: inline-block;
    height: 12px;
    left: 40px;
    position: absolute;
    transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -2, 6);
    width: 12px;
    z-index: 2;
}

.projectSubtitle {
    @include font('Montserrat', 14px, 300, #d1d1d1);
    padding-left: 29px;
    padding-bottom: 27px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.projectBottom {
    margin-top: 28px;
}

.projectText:hover {
    background-color: #362f2d;
    .arrowBotGreen {
        background-color: #362f2d;
        border-top: 1px solid #362f2d;
        border-right: 1px solid #362f2d;
    }
    .projectHeadLine {
        color: #fff;
    }
    .projectSubtitle {
        color: #c7b299;
    }
}

.hoverBlogs {
    font-size: 30px;
    position: absolute;
    display: flex;
    display: none;
    left: 38%;
    top: 27%;
}

.pe-7s-link, .pe-7s-search {
    color: #fff;
}

.scr, .search {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pe-7s-link:hover {
    background-color: none;
    color: #c7b299;
}

.pe-7s-search:hover {
    background-color: none;
    color: #c7b299;
}

.project1:hover>.hoverBlogs {
    display: flex;
}

.textProjectButton {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.textProjectButtonSterted {
    @include font('Raleway', 14px, 800, #fff);
    border-bottom: 3px solid #736357;
    border-top: 1px solid #998675;
    border-left: 1px solid #998675;
    border-right: 1px solid #998675;
    background-color: #998675;
    border-radius: 5px;
    padding: 19px 45px 17px 44px;
}

.video {
    padding-top: 100px;
}

.Excellent {
    background-color: #fbfaf8;
}

.imgExcellent {
    padding-top: 79px;
}

.ExcellentHeadLine {
    @include font('Raleway', 30px, 600, #555555);
    padding-top: 195px;
    padding-bottom: 40px;
}

.ExcellentSubtitle {
    @include font('Montserrat', 16px, 300, #8c8c8c);
}

.featuresText {
    @include font('Montserrat', 16px, 300, #8c8c8c);
    display: inline-block; 
    margin-left: 20px;
}

.excellentText{
    @include font('Montserrat', 16px, 300, #8c8c8c);
    display: inline-block; 
    margin-left: 20px; 
}

.excellentList {
    margin-top: 40px;
}

.excellentItem {
    margin-left: 49px;
}

.excellentList:focus {
    outline: none; 
}

.excellentBtn {
    display: inline-block; 
    border: none; 
    background: none; 
}

.excellentBtn:hover {
    cursor: pointer;
}

.card { 
    @include font('Montserrat', 16px, 300, #555555);
}

.satisfiedClients {
    background-color: #261e1b;
}

.satisfiedClientsBlocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.satisfiedClientsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 60px;
}

.satisfiedClientsNomber {
    @include font('Montserrat', 48px, 300, #fff);
}

.satisfiedClientsText {
    @include font('Montserrat', 14px, 300, #c7b299);
}

.recentPostHeadLine {
    @include font('Raleway', 30px, 600, #555555);
    padding-top: 82px;
    padding-bottom: 30px;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.recentPostSubtitle {
    @include font('Montserrat', 16px, 300, #8c8c8c);
    text-align: center;
    padding-bottom: 41px;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.postTextHeadLine {
    @include font('Raleway', 20px, 500, #555555);
    padding-top: 30px;
    padding-left: 29px;
    padding-bottom: 19px;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.postTextSubtitle {
    @include font('Montserrat', 14px, 300, #8c8c8c);
    padding-left: 29px;
    padding-bottom: 27px;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.postImg {
    position: relative;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.monthAndDay {
    width: 50px;
    border-radius: 5px;
    background-color: #363636;
    position: absolute;
    top: 20px;
    left: 40px;
}

.day {
    @include font('Montserrat', 24px, 300, #fff);
    height: 35px;
    text-align: center;
}

.month {
    @include font('Roboto', 12px, 400, #fff);
    height: 25px;
    background-color: #252525;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-top: 3px;
}

.readMoreAndArrows {
    padding-bottom: 33px;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}

.readMore {
    @include font('Montserrat', 14px, 300, #c7b299);
    padding-left: 29px;
    padding-top: 3px;
}

.postArrows {
    padding-left: 9px;
}

.slider1 {
.carousel-control-next, .carousel-control-prev { 
    color: #fff; 
    position: relative; 
    width: auto; 
    }
    span.carousel-control-prev-icon {
        background-image: url(../images/resentArrowsLeft.png);
    }
    span.carousel-control-next-icon {
        background-image: url(../images/resentArrowsRight.png);
        margin-left: 5px;
    }
    .control {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.post01:hover, .post02:hover, .post03:hover {
    .day {
        background-color: #c7b299;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .month {
        background-color: #a48d72;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .postTextHeadLine {
        color: #c7b299;
        background-color: #362f2d;
    }
    .postTextSubtitle {
        color: #fff;
        background-color: #362f2d;
    }
    .readMoreAndArrows {
        background-color: #362f2d;
    }
}

.partners {
    background-image: url(../images/partnersPhoto.png);
    padding: 120px 0;
}

.partnresBlock {
    align-items: center;
}

.footerTop {
    background-color: #191919;
    padding-bottom: 81px;
}

.logoFooterTop {
    padding-top: 80px;
}

.aboutWacom {
    @include font('Montserrat', 14px, 300, #555555);
    padding-top: 31px;
    padding-bottom: 57px;
}

.footerTopReadMore {
    @include font('Montserrat', 14px, 400, #fff);
    padding-top: 3px;
}

.footerTopArrows {
    margin-left: 10px;
}

.footerTopHeadLine {
    @include font('Raleway', 24px, 700, #fff);
    padding-top: 92px;
    padding-bottom: 33px;
}

.footerTopDate {
    @include font('Montserrat', 12px, 300, #363636);
}

.footerTopSubtitle {
    @include font('Montserrat', 14px, 300, #555555);
    padding-bottom: 21px;
    padding-top: 3px;
    border-bottom: 1px solid #252525;
}

.footerDate {
    @include font('Montserrat', 12px, 300, #fff);
    padding-top: 20px;
    padding-bottom: 11px;
}

.footerTopSubtitleText {
    @include font('Montserrat', 14px, 300, #555555);
}

.footerTopClock {
    @include font('Montserrat', 12px, 300, #363636);
    border-bottom: 1px solid #252525;
    padding-bottom: 3px;
}

.tweetText {
    @include font('Montserrat', 14px, 300, #555555);
    padding-top: 20px;
}

.footerTopHours {
    @include font('Montserrat', 12px, 300, #363636);
    border-bottom: 1px solid #252525;
    padding-top: 10px;
    padding-bottom: 20px;
}

.tweetText2 {
    @include font('Montserrat', 14px, 300, #555555);
    padding-top: 20px;
}

.footerTopDays {
    @include font('Montserrat', 12px, 300, #363636);
    padding-top: 10px;
}

.footerImgBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerImages {
    width: 130px;
    height: 92px;
    margin-top: 10px;
    overflow: hidden;
    max-width: 100%;
}

.color1 {
    color:#c7b299;
}

.color2 {
    color:#363636;
}

.color3 {
    color:#00bff3;
}

.color4 {
    color:#959595;
}

.footerBottom {
    background-color: #111111;
    padding-top: 46px;
    padding-bottom: 52px;
}

.footerBottomText {
    @include font('Montserrat', 13px, 300, #555555);
}




@media screen and (max-width: 1200px) {
    .iconMenu { 
        display: block;
        top: 5px;
        right: -10px;
    }

    .nav__items { 
        position: relative; 
        top: 63px; 
        width: 140px; 
        background-color: #000000c2; 
        color: #fff;
        right: -30px;
    }

    .nav { 
        display: none;
        font-size: 15px;
    }

    .smart-menu:checked ~ .nav { 
        display: block;
        margin-top: -5px;
        margin-left: 80%;
        text-align: center;
        font-size: 16px;
    }

    .nav__items { 
        display: block; 
        position: relative; 
        top: 63px; 
        width: 140px; 
        background-color: #000000c2; 
        color: #fff;
        padding-bottom: 20px;
    }

    .headerIconBlock {
        display: none;
    }
    .video {
        padding-top: 0;
    }
    .ExcellentHeadLine {
        padding-top: 70px;
    }
    .satisfiedClientsText {
        font-size: 12px
    }
    .partners {
        padding: 20px 0;
    }
    .logoFooterTop {
        text-align: center;
    }
    .footerImgBlock {
        justify-content: center;
    }
}

@media screen and (max-width: 1060px) {
    .iconMenu {
        right: 78px;
    }
    .smart-menu:checked ~ .nav {
        margin-left: 65%;
    }

}

@media screen and (max-width: 991px) {
    .iconMenu {
        right: 30px;
    }
    .logo {
        &__items {
        font-size: 24px;
        }
    }
    .slider {
        .sliderCaption {
            .sliderHeadLine {
                font-size: 1.25em;
            }
            .sliderSubtitle1 {
                font-size: 2.25em;
            }
            .sliderSubtitle2 {
                font-size: 14px;
            }
        }
    }  
    .waxomHeadLine {
        font-size: 24px;
        padding-top: 20px;
    }
    .waxomSubtitle {
        font-size: 12px;
    }
    .textBoxesHeadLine {
        font-size: 24px;
    }
    .textBoxesSubtitle {
        font-size: 17px;
    }
    .titleButton {
        .btn {
            padding: 0.375rem 0.75rem;
        }
    }
    .titleSubtitle {
        font-size: 11px;
    }
    .video {
        iframe {
            height: 450px;
        }
    }
    .ExcellentHeadLine {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .imgExcellent{
        display: none;
    }
    .ExcellentSubtitle {
        font-size: 12px;
    }
    .excellentList {
        margin: 15px 0 0 0;
    }
    .excellentText {
        margin-left: 5px;
    }
    .excellentItem {
        margin-left: 0;
    }
    .excellentText {
        font-size: 14px;
    }
    .excellentContent {
        padding-bottom: 20px;
    }
    .satisfiedClientsBlock {
        padding-bottom: 0;
    }
    .recentPostHeadLine {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .recentPostSubtitle {
        font-size: 11px;
    }
    .postTextHeadLine {
        padding-left: 0;
        font-size: 15px;
    }
    .postTextSubtitle {
        padding-left: 0;
    }
    .readMore {
        padding-left: 0;
    }
    .footerTop {
        padding: 20px 0;
    }
    .container {
        .row {
            .col-lg-3:nth-child(1) {
                margin-top: 10px;
        }
    }
    .footerImgBlock {
        justify-content: space-evenly;
    }
    .readMoreAndArrowsFooter {
        justify-content: center;
    }
    .aboutWacom {
        padding-bottom: 10px;
    }
    .logoFooterTop {
        padding-top: 0;
    }
    .footerTopHeadLine {
        padding-top: 20px;
    }
}
}

@media screen and (max-width: 800px) {
    .slider {
        .sliderButton {
            display: none;
        }
    } 
    .video {
        iframe {
            height: 400px;
        }
    }
}

@media screen and (max-width: 767px) {
    .logo__items {
        font-size: 11px;
    }
    .iconMenu {
        right: -5px;
    }
    .waxomHeadLine {
        font-size: 22px;
    }
    .textBoxes {
        text-align: center;
    }
    .textBoxesSubtitle {
        padding-bottom: 10px;
    }
    .titleButton {
        .btn {
            padding: 0.375rem 6.75rem;
            margin-top: 10px;
        }
    }
    .postTextHeadLine {
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .sliderButton {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .postTextSubtitle {
        font-size: 10px;
        padding-bottom: 10px;
    }
    .readMoreAndArrows {
        padding-bottom: 10px;
    }
    .partners {
        background-image: none;
        background-color: #000;
    }
    .partnresBlock {
        padding-left: 140px;
    }
}


@media screen and (max-width: 703px) {
    .carousel-control-next, .carousel-control-prev {
    display: none;
}
}

@media screen and (max-width: 653px) {
    .iconMenu {
        right: 48px;
    }
    .smart-menu:checked ~ .nav {
        margin-left: 45%;
    }
}

@media screen and (max-width: 540px) {
    .iconMenu {
        right: 74px;
    }
    .smart-menu:checked ~ .nav {
        margin-left: 35%;
    }
}